.cmpr/revs
.cmpr/tmp
.cmpr/api_calls
.cmpr/cache
.cmpr/events
.cmpr/rev-indices
revs
tmp
api_calls
cache
outputs
openai-key
prompt_list
dist
*.bak
.vscode
*.swp
*.swo
*.o
siphash/test*
siphash/vectors.h
functions.sh
cmpr-sed.c
tags
